.active {
  border: 6px solid #00c853;
  /* padding-bottom: 1em; */
  font-size: 1em;
  background-color: #00c853;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius:2%;
}

nav{
  background-color: #263238;
}

.navbar-brand{
  color: #00c853;
  font-weight: bolder;
  font-size: 2em;
  padding-right: 2em;
  /* padding-top: 2em; */
}

.fa{
color:  #00c853;
}

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link{
  color: white;
  font-weight: bolder;
  text-decoration: none;

}

.nav-item{
  text-transform: uppercase;
  padding-right: 2em;
  /* padding-left: 2em; */
}

/* .navbar-collapse{
  padding-left: 4em;
} */
