.home {
  background: url('../../assets/img/agreement-black-business-943630.jpg') no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #343a40;
  background-blend-mode: soft-light;
  min-height: 100vh;
  height: fit-content;
  min-width: 100%;
  /* margin-bottom: 0% !important; */
  /* padding-bottom: 2% !important; */
  /* position: fixed;
  top: 0;
  left: 0; */
}

a:active,
a:link {
  text-decoration: none;
  color: white;
}


.aboutdiv {
  background: url('../../assets/img/loginimg.jpg') no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  background-color: #343a40;
  background-blend-mode: soft-light;
  min-height: 100vh;
  min-width: 100%;
  /* margin-top: 0% !important; */
}

nav {
  background-color: transparent;
}

.mynav {
  background-color: black;
  color: white
}

.navbar-toggler-icon {
  color: white;
}

.fa-sign-in,
.fa-repeat,
.fa-credit-card-alt,
.fa-code {
  color: #00c853
}

.fa-angle-double-down {
  color: #00c853;
  font-size: 3em;
}

.pen {
  color: #00c853
}

a.navbar-brand {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  padding-right: 1em;
  font-size: 1.7em;
  line-height: 2em;
  letter-spacing: 2px;
}

.display-4 {
  color: white;
  font-weight: bolder;
}

.uk-background-cover,
.uk-background-muted,
.uk-height-medium,
.uk-width-large {
  background-color: transparent;
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.btn-lg {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #00c853;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 3em;
  margin-bottom: 9em;
}

.btn-lg:hover {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 3em;
  margin-bottom: 9em;
}

.nextdiv {
  background-color: transparent;
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  border: 0px solid transparent;
}

.subtitle {
  color: white;
  line-height: 2em;
  letter-spacing: 2px;

}

.aboutus {
  border-left: 10px solid #00c853;
  color: #343a40;
  padding-left: 7px;
}

.aboutdiv {
  padding-top: 2em;
}

#betterweb {
  padding-top: 5em;
}

.fa-pencil {
  color: #00c853
}

a.nav-link:hover {
  /* color: white; */
  color: #00c853;
  font-weight: bolder;
  text-transform: capitalize;
  text-transform: uppercase;
  border-bottom: 2px solid #00c853
}

a.nav-link {
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  text-transform: uppercase;
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

li.nav-item {
  padding-right: 1em;
  text-transform: uppercase;
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}
