<div class="home">
  <div class="container">
    <app-index-nav></app-index-nav>
  </div>
  <div class="container" id="betterweb">
    <div class="uk-flex uk-flex-left uk-flex-middle">
      <h3 class="display-4 animated fadeIn delay-2s">
        We make <span class="pen">the web better...</span>
      </h3>
    </div>
    <p class="subtitle  animated fadeIn delay-3s">
      Our aim is make sure you have a connected life , putting all your social
      media lives in one place acting according and communicating with each
      other seemlessly and efficiently and it is totally under your control.
    </p>
    <a [routerLink]="['login']"><button class="btn btn-lg">Create Account</button></a>
  </div>
  <br />
</div>
