<div class="home">
  <div class="container">
    <app-index-nav></app-index-nav>
  </div>
  <div class="container ">
    <div class="uk-align-center"></div>
    <!-- sign in card -->
    <div [hidden]="login" class="logincard uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin hoverable uk-align-center"
      uk-grid>
      <div>
        <div class="uk-card-body hoverable">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" class="uk-text-uppercase uk-text-bold text-primary"><i class="fa fa-envelope"></i>
                Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"
                (ngModel)="email" />
              <small [hidden]="error" class="form-text text-muted text-danger">there's a problem with your
                credentials...please check
                again.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword" class="uk-text-uppercase uk-text-bold text-primary"><i class="fa fa-unlock-alt"></i>
                Password</label>
              <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" (ngModel)="password" />
            </div>
            <button class="btn btn-login btn-primary btn-block uk-text-bold" (click)="loginuser()" [disabled]="loginbutton">
              {{ signingin }} <span uk-spinner="ratio: 1.1" [hidden]="spinner"></span>
            </button>
            <h6 class="text-light text-primary uk-text-right ">
              No Account ?<span class="uk-text-bold text-primary create" (click)="signup()">
                Create Account</span>
            </h6>
          </form>
          <h5 class="uk-text-muted uk-text-bold uk-text-center">OR</h5>
          <button class="btn btn-block" style="background-color:#03a9f4">
            <i class="fa fa-twitter"></i> continue with twitter
          </button>
          <button class="btn btn-danger btn-block">
            <i class="fa fa-google-plus"></i> continue with google
          </button>
        </div>
      </div>
    </div>

    <!-- Registration -->
    <div [hidden]="register" class="uk-card uk-align-center uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin hoverable logincard"
      uk-grid>
      <div>
        <div class="uk-card-body hoverable">
          <!--
            <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-center">Sign up</h3>
          -->
          <form>
            <div class="form-group">
              <label for="InputEmail1" class="uk-text-uppercase uk-text-bold text-primary"><i class="fa fa-envelope"></i>
                Email</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Email" />
              <small id="emailHelp" class="form-text text-light text-success">We'll never share your email with anyone
                else.</small>
            </div>
            <div class="form-group">
              <label for="InputPassword2" class="uk-text-uppercase uk-text-bold text-primary"><i class="fa fa-unlock-alt"></i>
                Password</label>
              <input type="password" class="form-control" id="InputPassword2" placeholder="Password" />
            </div>
            <div class="form-group">
              <label for="InputPassword1" class="uk-text-uppercase uk-text-bold text-primary"><i class="fa fa-unlock-alt"></i>
                Confirm Password</label>
              <input type="password" class="form-control" id="InputPassword1" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="signup btn btn-primary btn-block uk-text-bold">
              SIGN UP
            </button>
            <h6 class="text-light uk-text-primary uk-text-right">
              Already have an Account ?<span class="uk-text-bold text-primary create" (click)="signin()">
                sign In</span>
            </h6>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
