.home {
  background: url('../../assets/img/agreement-black-business-943630.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #343a40; */
  background-blend-mode: soft-light;
  background-color: #343a40;
  background-attachment: fixed;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.logincard {
  background: url('../../assets/img/agreement-black-business-943630.jpg') no-repeat center fixed;
  background-size: cover;
  /* height: 100vh; */
  background-attachment: fixed;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  /* background-color: #343a40; */
  background-blend-mode: soft-light;
  background-color: #343a40;
}

app-index-nav {
  background-color: transparent;
}

.btn-login {
  border-color: #00c853 !important;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-primary {
  color: #00c853 !important;
}

.uk-card {
  width: 100%;
  background-color: #343a40;
}

@media(min-width:966px) {

  .logincard {
    background: url('../../assets/img/agreement-black-business-943630.jpg') no-repeat center fixed;
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    font-family: 'Segoe UI',
      Tahoma,
      Geneva,
      Verdana,
      sans-serif;
    /* background-color: #343a40; */
    background-blend-mode: soft-light;
    background-color: #343a40;
    min-width: 60%;
  }

  .uk-card {
    width: 60%;
    background-color: #343a40;
  }
}

.create {
  cursor: pointer;
  color: dodgerblue !important;
}

button.signup {
  border-color: #00c853;
}

p {
  color: white;
}

.text-danger {
  color: red !important;
}

.navbar-brand {
  color: #00c853;
  font-weight: bolder;
  font-size: 2em;
  padding-right: 2em;
  /* padding-top: 2em; */
}

.btn-primary {
  background-color: #00c853;
}

.signin {
  padding-top: 3%;
  font-size: 20px;
  color: #00c853;
  padding-bottom: 3%
}

.navbar-brand {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:focus {
  border-color: #00c853;
}

.newnav {
  /* background: url('../../assets/img/qpbg.jpg') no-repeat center fixed; */
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #343a40;
  background-blend-mode: soft-light;
}

span .q {
  padding: 2%;
  background-color: #00c853;
  color: white;
}

.container {
  padding-top: 5%
}

.fa {
  color: #00c853;
}

.uk-text-right {
  /* font-weight: lighter; */
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.text-success {
  color: #00c853;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google-plus {
  color: white;
}
